:root{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
    background-color: whitesmoke;
}
.upperContainer {
  width: 100%;
  height: 400px;
  background-color: rgb(73, 73, 226);
}
.upperContainerWrapper{
    height: 100%;
    padding: 20px 0px 10px;
    display: flex;
    align-items: center;
    justify-content: end;
}
.quicklinks{
    text-decoration: none;
    color: white;
    padding: 0px 30px;
    font-size: 13px;
    font-weight: 700;
}
.lowerContainerWrapper{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 0%;
    margin: 0%;
}
.logo{
    width: 110px;
    height: 110px;
    margin-right: 20px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.imgLogo{
    width: 80px;
    height: 80px;
}
.title{
    display: flex;
    align-items: center;
    justify-content: start; 
    flex-direction: column;
}
.unitedTitle{
    padding-top: 35px;
    color: white;
    font-size: 17px;
    font-weight: 700;
}
.smallTitle{
    color: white;
    font-size: 13px;
    font-weight: 500;
}
.descriptions{
    text-align: center;
    color: white;
    padding: 0px 0px 10px;
}
.loginCard{
    background-color: white;
    border-radius: 10px;
    height: 450px;
    margin-left: 14% !important;
    margin-right: 14% !important;
    
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}
.loginImage{
    height: 450px;
    float: left;
    width: 50%;
    border-radius: 10px;
}
.login{
    padding-left: 20px;
    padding-right: 20px;
    height: 450px;
    float: right;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}
.loginTitle{
    font-size: 23px;
    color: rgb(73, 73, 226);
}
.loginSmallDesc{
    font-size: 15px;
    color: rgb(182, 161, 161);
}
.footer{
    padding: 40px 0px;
    text-align: center;
    color: rgb(182, 161, 161);
}
.form-control-lg{
    width: 100%;
    margin-bottom: 20px;
}
button{
    width: 100%;
    background-color: rgb(73, 73, 226);
    color: white;
    font-size: 13px !important;
    font-weight: 600;
    border-radius: 5px;
    padding: 10px 0px;
    border: none;
}
.registerLink{
    padding-top: 20px;
    cursor: pointer;
    text-decoration: none;
    color: rgb(73, 73, 226);
    padding-left: 25%;
    padding-right: 25%;
}
.forgotPassowrd{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px 20px 10px; 
}
.forgotLink{
    cursor: pointer;
    text-decoration: none;
    color: rgb(73, 73, 226);
}
.form-check-label{
    color: rgb(73, 73, 226);
}
.menu-button{
    display: none;
}

@media only screen and (max-width: 991px){
    .menu-button{
        display: block;
        cursor: pointer;
        color: white;
        text-decoration: none;
    }
    .links{
        display: none;
    }

    .menu-button .active + .links {
        display: block;
    }

    .logo{
        height: 60px;
        width: 60px;
    }

    .logoImage{
        height: 40px;
        width: 40px;
    }
}
